In [512]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [513]:
df=pd.read_csv("/kaggle/input/ibm-hr-analytics-attrition-dataset/WA_Fn-UseC_-HR-Employee-Attrition.csv")
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [514]:
df["Attrition"].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [515]:
df["Department"].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [516]:
en_data=df[["Gender","MaritalStatus","Department","Attrition","OverTime"]]
en_data.head(2)

   Gender MaritalStatus              Department Attrition OverTime
0  Female        Single                   Sales       Yes      Yes
1    Male       Married  Research & Development        No       No

In [517]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender_Female                      1470 non-null   bool
 1   Gender_Male                        1470 non-null   bool
 2   MaritalStatus_Divorced             1470 non-null   bool
 3   MaritalStatus_Married              1470 non-null   bool
 4   MaritalStatus_Single               1470 non-null   bool
 5   Department_Human Resources         1470 non-null   bool
 6   Department_Research & Development  1470 non-null   bool
 7   Department_Sales                   1470 non-null   bool
 8   Attrition_No                       1470 non-null   bool
 9   Attrition_Yes                      1470 non-null   bool
 10  OverTime_No                        1470 non-null   bool
 11  OverTime_Yes                       1470 non-null   bool
dtypes: bool(12)
memory usage: 17.4 KB

In [518]:
from sklearn.preprocessing import OneHotEncoder

In [519]:
ohe=OneHotEncoder(drop="first")
ar=ohe.fit_transform(en_data).toarray()

In [520]:
df_encoded=pd.DataFrame(ar,columns=["Gender_Male","MaritalStatus_Married","MaritalStatus_Single","Department_Research & Development","Department_Sales","Attrition_Yes","OverTime_Yes"])
df_encoded.head(5)

,Gender_Male,MaritalStatus_Married,MaritalStatus_Single,Department_Research & Development,Department_Sales,Attrition_Yes,OverTime_Yes
0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
1,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,1.0,1.0,0.0,1.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,1.0,1.0,0.0,1.0,0.0,0.0,0.0

In [521]:
df_new=df.drop(["Gender","MaritalStatus","Department","Attrition","OverTime"],axis=1)

In [522]:
df=pd.concat([df_new.reset_index(drop=True),df_encoded.reset_index(drop=True)],axis=1)
df

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Gender_Male,MaritalStatus_Married,MaritalStatus_Single,Department_Research & Development,Department_Sales,Attrition_Yes,OverTime_Yes
0,41,Travel_Rarely,1102,1,2,Life Sciences,1,1,2,94,...,4,0,5,0.0,0.0,1.0,0.0,1.0,1.0,1.0
1,49,Travel_Frequently,279,8,1,Life Sciences,1,2,3,61,...,7,1,7,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2,37,Travel_Rarely,1373,2,2,Other,1,4,4,92,...,0,0,0,1.0,0.0,1.0,1.0,0.0,1.0,1.0
3,33,Travel_Frequently,1392,3,4,Life Sciences,1,5,4,56,...,7,3,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,27,Travel_Rarely,591,2,1,Medical,1,7,1,40,...,2,2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,884,23,2,Medical,1,2061,3,41,...,2,0,3,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1466,39,Travel_Rarely,613,6,1,Medical,1,2062,4,42,...,7,1,7,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1467,27,Travel_Rarely,155,4,3,Life Sciences,1,2064,2,87,...,2,0,3,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1468,49,Travel_Frequently,1023,2,3,Medical,1,2065,4,63,...,6,0,8,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1469,34,Travel_Rarely,628,8,3,Medical,1,2068,2,82,...,3,1,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0

In [523]:
x=df[["Age","Gender_Male","MaritalStatus_Married","MaritalStatus_Single","Department_Research & Development","Department_Sales","DistanceFromHome","EnvironmentSatisfaction","JobSatisfaction","MonthlyIncome","OverTime_Yes","PercentSalaryHike","TotalWorkingYears","TrainingTimesLastYear","YearsAtCompany","YearsInCurrentRole","YearsSinceLastPromotion","YearsWithCurrManager","NumCompaniesWorked"]]
y=df["Attrition_Yes"]
x

,Age,Gender_Male,MaritalStatus_Married,MaritalStatus_Single,Department_Research & Development,Department_Sales,DistanceFromHome,EnvironmentSatisfaction,JobSatisfaction,MonthlyIncome,OverTime_Yes,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,NumCompaniesWorked
0,41,0.0,0.0,1.0,0.0,1.0,1,2,4,5993,1.0,11,8,0,6,4,0,5,8
1,49,1.0,1.0,0.0,1.0,0.0,8,3,2,5130,0.0,23,10,3,10,7,1,7,1
2,37,1.0,0.0,1.0,1.0,0.0,2,4,3,2090,1.0,15,7,3,0,0,0,0,6
3,33,0.0,1.0,0.0,1.0,0.0,3,4,3,2909,1.0,11,8,3,8,7,3,0,1
4,27,1.0,1.0,0.0,1.0,0.0,2,1,2,3468,0.0,12,6,3,2,2,2,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,1.0,1.0,0.0,1.0,0.0,23,3,4,2571,0.0,17,17,3,5,2,0,3,4
1466,39,1.0,1.0,0.0,1.0,0.0,6,4,1,9991,0.0,15,9,5,7,7,1,7,4
1467,27,1.0,1.0,0.0,1.0,0.0,4,2,2,6142,1.0,20,6,0,6,2,0,3,1
1468,49,1.0,1.0,0.0,0.0,1.0,2,4,2,5390,0.0,14,17,3,9,6,0,8,2
1469,34,1.0,1.0,0.0,1.0,0.0,8,2,3,4404,0.0,12,6,3,4,3,1,2,2

In [524]:
df["Attrition_Yes"].value_counts()

Attrition_Yes
0.0    1233
1.0     237
Name: count, dtype: int64

In [525]:
from sklearn.model_selection import train_test_split

In [526]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [527]:
from sklearn.linear_model import LogisticRegression

In [528]:
lor=LogisticRegression(class_weight="balanced")
lor.fit(x_train,y_train)

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(class_weight='balanced')

In [529]:
lor.score(x_test,y_test)*100

69.38775510204081

In [530]:
lor.predict([[41,0.0,0.0,1.0,0.0,1.0,1,2,4,100000,1.0,11,8,0,6,4,0,5,8]])

/usr/local/lib/python3.11/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0.])

In [531]:
from sklearn.metrics import confusion_matrix

In [532]:
cf=confusion_matrix(y_test,lor.predict(x_test))
cf

array([[253, 118],
       [ 17,  53]])

In [533]:
import joblib
joblib.dump(lor,"my_model.pk1")

['my_model.pk1']